<!DOCTYPE html>
	<html lang="en">
	    <head>
			<link rel="stylesheet" href="/css/styles.css">
            {{>header}}
	        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	        <title>{{title}}</title>
	        <link rel="stylesheet" href="/css/styles.css">
	    </head>
	    <body>
	            <div class="content">
	            <p class="pcentre">My name is Jesse Cumberland and I was born in Darwin, Australia.
					Although being a capital city it is quite small at only about 161,000 people. I grew up in a mixture of both
					suburban and rural lifestyle, with a few different hobbies. From a young age I always enjoyed tinkering
					with small electric motors and creating things, this transferred into working on my own cars once I was old
					enough to drive. I was also very interested in computers and using them, in my early
					days it was more gaming than practical use, but as life went on that turned into using them as tools and exploring all the
					possibilities that they can provide.
				</p>
				<p class="pcentre">
					When it came time to get my first job, my passion for automotive was still high and led me to landing a job in parts.
					Eventually I moved from parts to a hands on position. Although I loved working on my own performance cars,
					I soon realized working on an everyday car was a whole different thing. Upon moving on from there I tried several other
					avenues, all of which involved some form of manual labour. This made it hard to have enough energy to enjoy my time outside
					of work which involved weightlifting and other forms of exercise.
				</p>
				<p class="pcentre">
					Finally, towards the end of 2020 I signed up for a Certificate IV in Computer Systems Technology at CDU. This began
					in 2021 and ran for the whole year, the course was structured full-time and internal. This was one of my most enjoyable
					periods in life, I learnt so much and everything was so new and interesting! The course had a lot of networking and the
					ability to use my newfound skills in a lab with real equipment. As well as units covering programming in several different
					languages. These included: Python, PHP and Javascript. On top of that we had a unit for SQL and units throughout the year
					in Web Development which covered HTML, CSS and the PHP and JS I mentioned.
				</p>
				<p class="pcentre">
					Within about 2 weeks of completing my certificate I landed my first job in IT, I was ecstatic to say the least!
					My first role was as an EUC Engineer at the INPEX Ichthys LNG Oil and Gas Plant. Ranked as one of the most significant
					oil and gas projects in the world. I skipped past Level 1 service desk and straight into a level 2 position, in combination
					with the scale of the site I was to work at, I was a little bit intimidated. Surprisingly it didn't take very long before I was
					competent with a majority of the day to day and even teaching a couple of guys who have started since. Although I am quite
					content in this position I really enjoy programming and would love to pursue a career as a developer in the long term.
				</p>
			</div>
	        {{>footer}}
	        <script src="/js/app.js"></script>
	    </body>
	</html>
