<!DOCTYPE html>
	<html lang="en">
	    <head>
			<link rel="stylesheet" href="/css/styles.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
            {{>header}}
	        <title>{{title}}</title>
	    </head>
	    <body>
	            <div class="content">
	            <p class="pcentre">
					My name is Jesse Cumberland and I was born in Darwin, Northern Territory. From a young age I enjoyed tinkering with electric motors and creating things, 
					this later transferred into working on my own cars and ultimately working in the automotive industry.
				</p>
				<div class="img-container">
				<img class="margin-img" src="images/201.jpg" alt="Networking Image" height="400" width="500">
				<img class="margin-img" src="images/202.jpg" alt="PHP Image" height="400" width="500">
				</div>
				<p class="pcentre">
					In 2021 I completed a Certificate IV in Computer Systems Technology at Charles Darwin University. The course included networking and several different 
					languages including Python, PHP, Javascript, SQL and units in Web Development being HTML, CSS and PHP and JS.
				</p>
				<div class="img-container">
				<img class="margin-img" src="images/101.png" alt="Networking Image" height="400" width="500">
				<img class="margin-img" src="images/PHP.png" alt="PHP Image" height="400" width="500">
				</div>
				<p class="pcentre">
					After completing study at CDU my first role was as an End User Computing Engineer at the INPEX Ichthys LNG Oil and Gas Plant, one of the largest gas 
					projects in the world. I commenced in a level 2 position. It didn't take long before I was competent with the day to day requirements and have mentored 
					other staff who have started after me. I enjoy programming and intend to pursue a career as a developer/software engineer.
				</p>
				<div class="img-container">
				<img class="margin-img" src="images/301.png" alt="Networking Image" height="400" width="500">
				<img class="margin-img" src="images/302.jpg" alt="PHP Image" height="400" width="500">
				</div>
			</div>
	        {{>footer}}
	        <script src="/js/app.js"></script>
	    </body>
	</html>
