<!DOCTYPE html>
	<html lang="en">
	    <head>
			<link rel="stylesheet" href="/css/styles.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	        <title>{{title}}</title>
				{{>header}}
	    </head>
	    <body>
			<div class="content rows">
	            <p class="pcentre">
					Welcome to my portfolio! This will be a home for all my projects.
					I am just starting to work on my own projects, after recently finishing uni and starting a new job in IT. 
				</p>
				<div class="rows">
					<h2> Weather App</h2>
					<a href="https://cmbrlnd-weather-site.herokuapp.com" target="_blank"/>
					<img class="margin-img" src="images/weather.png" alt="Weather Icon" width="200" height="200">
					</a>
					<p class="pcentre less-top">
						My first app built using Node.js. I built this app using a geolocation API and weather API which
						taught me how to get data via http requests and display data that I choose to on a webpage. This was my first
						introduction to Express and Handlebars as well. This web app is hosted on a free tier of Heroku, therefore will take a few seconds
						to wake the app.
					</p>
				</div>
			</div>
			{{>footer}}
	        <script src="/js/app.js"></script>
	    </body>
	</html>